// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$my-background-color: hsl(211, 82%, 15%);
$header-bg: $my-background-color;
/*$title-color: #fff;
$subtitle-color: #fff;*/
$title-color: #ddd;
$subtitle-color: #ccc;
$page-bg: $my-background-color;
$link-color: darken(#888, 3) !default;
$link-color-hover: adjust-color($link-color, $lightness: 10) !default;
$link-color-visited: adjust-color($link-color, $lightness: -4) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

$uk-stripe-red: #8B0E0E;
$uk-stripe-white: #ddd;

// Global
/*$my-background-color: hsl(211, 82%, 15%);
$my-background-color: hsl(211, 48%, 20%);
$text-color: #ddd;
$text-color-light: #888 !default;
$main-bg: $my-background-color;

// Header
$header-bg: $my-background-color;
$title-color: #ddd;
$subtitle-color: #ccc;

// Top nav
$nav-bg: $my-background-color;
$nav-bg-back: $my-background-color;
$nav-border-top: $my-background-color;
$nav-border-bottom: lighten($nav-bg, 15) !default;
$nav-color: #aaa;
$nav-color-hover: lighten($nav-color, 25) !default;

// Main container
$page-bg: $my-background-color;

// Sidebar
$sidebar-bg: $my-background-color;
$sidebar-color: change-color(mix($text-color, $sidebar-bg, 100), $hue: hue($sidebar-bg), $saturation: saturation($sidebar-bg)/2) !default;
$sidebar-border: desaturate(lighten($sidebar-bg, 7), 10) !default;
$sidebar-border-hover: lighten($sidebar-bg, 7) !default;

// Main Link Colors
$link-color: lighten(#ddd, 3) !default;
$link-color-hover: adjust-color($link-color, $lightness: 10) !default;
$link-color-visited: adjust-color($link-color, $lightness: -4) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;*/

